
<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!--><app-iric></app-iric>-->
  </div>
 <!--   
  <p>Hola mundo</p>
  <div>
    <h1 class="bg-light">IDGS902</h1>
  </div>
  <div>
    {{title}}
  </div>
  <div>La suma de 2 + 2 es : {{2+2}}</div>
  
  <div>El doble de 3 es : {{duplicaN(3)}}</div>
  <br>

  <div>
    <b>Matricula:</b> {{alumno.matricula}}
  </div>  
  <div>
    <b>Nombre:</b> {{alumno.nombre | uppercase}}
  </div>
  <div>
    <b>apaterno:</b> {{alumno.apaterno | lowercase}}
  </div>
  <div>
    <b>Inscrito:</b> {{alumno.inscrito | currency}}
  </div>
  <div>
    <b>Fecha Nacimiento:</b> {{alumno.fechaNacimiento | date:"dd-MM-yy"}}
  </div>
  <hr>
  <app-grupos></app-grupos>
  <hr>
  <app-alumnos></app-alumnos>
  <hr>
  <h1>IDGS:</h1>
  <app-idgs></app-idgs>-->
  <app-suma></app-suma>
  <hr>
</div>

